<center>
<h1>Welcome to Railway Reservation System</h1>
<p>
  your ticket are confirmation status in railwayreservationsystem.com,
  your username is: <%= @user.email%>.<br>
</p>
<p>    
Ticket Details are:
</p>

<p>    
Ticket_Id:
<%= @ticket.id%>
</p>
<p>    
Ticket_status:
<%= @ticket.booking_status%>
</p>
<p>    
From:
<%= @ticket.from_station%>
</p>
<p>    
To:
<%= @ticket.to_station%>
</p>
<p>    
Fare:
<%= @ticket.fare %>
</p>
<p>

  To see the tickets, just follow this link:<%= link_to " Your tickets here", tickets_url %>.
</p>
<p>Thanks for booking ticket and have a great day!</p>
</center>