<p style="color: green"><%= notice %></p>

<center><h1>Trains</h1></center>

<%= render @train %>



<div>
<table class="table">
  <thead>
    <tr>
    
   
      <th scope="col">Station Name</th>
      <th scope="col">Arrival Time</th>
      <th scope="col">Departure Time</th>
    </tr>
  </thead>

  <tbody>

    
    <tr class="border row-margin-05" >
      <td><%=  %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>
    <tr >
    
    </tr>
    <br>
  </tbody>

</table>


<br><br>


<%= button_to "Back to Home", trains_path ,:method => :get,class: "btn btn-primary" %>

</div>
