  <%= button_to "Admin_Login", new_admin_user_session_path %> 

<%= render "header"%>
<h1>Welcome To Railway Reservation System!</h1>

<br>
<div>
<%= button_to "Your Tickets", tickets_url ,:method => :get,class: "btn btn-primary" %>
</div>
<br>
</center>
</div>

<%= render "search" %>
<br>
<center>
<h1>Train List</h1>

<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Train No.</th>
      <th scope="col">Train Name</th>
      <th scope="col">Source Station</th>
      <th scope="col">Destination Station</th>
       <th scope="col">Fare</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |train| %>
    <tr>
      <td><%= train.train_number %></td>
      <td><%= train.train_name %></td>
      <td><%= train.source_station %></td>
      <td><%= train.destination_station%></td>
       <td><%= train.fare%></td> 
      <td><%= button_to "Book Now",new_ticket_path,params:{train_id:train},:method => :get,class: "btn btn-primary" %>
      </td> 
    </tr>
    <% end %> 
  </tbody>
</table>
</center>