<div class="container">
<center>
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Welcome To Railway Reservation System!</h1>

<br>

</center>
</div>

<%= render "search" %>
<br>
<center>
<h1>Train List</h1>

<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Train No.</th>
      <th scope="col">Train Name</th>
      <th scope="col">Source Station</th>
      <th scope="col">Destination Station</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |result| %>
    <tr>
      <td><%= result.train_number %></td>
      <td><%= result.train_name %></td>
      <td><%= result.source_station %></td>
      <td><%= result.destination_station%></td>
      <td><%= button_to "Back to Home", _path ,:method => :get,class: "btn btn-primary" %>
      </td>
    </tr>
    <% end %> 
  </tbody>
</table>
</center>