<center>
<h1>Trains</h1>


<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Train No.</th>
      <th scope="col">Train Name</th>
      <th scope="col">Source Station</th>
      <th scope="col">Destination Station</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>

  <tbody>
  <% @results.each do |result| %>
    
    <tr class="border row-margin-05" >
      <td><%= result.train_number %></td>
      <td><%= result.train_name %></td>
      <td><%= result.source_station %></td>
      <td><%= result.destination_station%></td>  
     <td> <%= button_to "New ticket", new_ticket_path ,:method => :get,class: "btn btn-primary" %></td>
    </tr>
    <tr >
    <td> <button>Sleeper(SL) = <%= Train.find_by(train_number:"#{result.train_number}").seats.where(class_type:"SL").sum(:seat_quantity)%> </button></td>
    <td> <button>AC = <%= Train.find_by(train_number:"#{result.train_number}").seats.where(class_type:"AC").sum(:seat_quantity)%>  </button></td>
    
    </tr>
    
    <% end %> 
    <br>
  </tbody>

</table>
</center>
<div>
<%= button_to "Back to Home", root_path ,:method => :get,class: "btn btn-primary" %>

</div>