<div id="<%= dom_id ticket %>">
  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

  <p>
    <strong>Train:</strong>
    <%= ticket.train_id %>
  </p>

  <p>
    <strong>Booking status:</strong>
    <%= ticket.booking_status %>
  </p>

  <p>
    <strong>Booking date:</strong>
    <%= ticket.booking_date %>
  </p>

  <p>
    <strong>From station:</strong>
    <%= ticket.from_station %>
  </p>

  <p>
    <strong>To station:</strong>
    <%= ticket.to_station %>
  </p>

</div>
