<div id="<%= dom_id ticket %>">
  <p>
    <strong>User_Name:</strong>
    <%= (User.find(ticket.user_id).first_name) %>  <%= (User.find(ticket.user_id).last_name) %>
  </p>

  <p>
    <strong>Train_Name:</strong>
    <%=  Train.find(ticket.train_id).train_name%>
  </p>

  <p>
    <strong>Booking status:</strong>
    <%= ticket.booking_status %>
  </p>

  <p>
    <strong>Booking date:</strong>
    <%= ticket.booking_date %>
  </p>

  <p>
    <strong>From station:</strong>
    <%= ticket.from_station %>
  </p>

  <p>
    <strong>To station:</strong>
    <%= ticket.to_station %>
  </p>

  <p>
  <strong>Class_type:</strong>
  <%= ticket.class_type %>
</p>

<p>
  <strong>Seat_type:</strong>
  <%= ticket.seat_type %>
</p>

<p>
  <strong>Seat_no:</strong>
  <%= ticket.seat_no %>
</p>

</div>
