<%= form_with(model:[@ticket,@passenger]) do |form| %>


  <div>
    <%= form.label :Full_Name, style: "display: block" %>
    <%= form.text_field :p_name, required: true %>
  </div>

  <div>
    <%= form.label :Age, style: "display: block" %>
    <%= form.number_field :p_age,required: true %>
  </div>

  <div>
    <%= form.label :Gender, style: "display: block" %>
    <%= form.select :p_gender, ['Male', 'Female']%>
  </div>

  <div>
  <%= form.label :Class_type, style: "display: block" %>
  <%=form.select :class_type,Seat.distinct.pluck(:class_type) %>
  </div>

  <div>
  <%= form.label :Seat_type, style: "display: block" %>
  <%=form.select :seat_type,Seat.distinct.pluck(:seat_type)%>
  </div>

  <div>
  <%= form.hidden_field :seat_no, style: "display: block" %>
  <%= form.hidden_field :seat_no, value:0 %>
  </div>
    <br>
    <div>
     
   <% if controller_name == 'passengers' && action_name == 'edit' %>
     <%= form.submit %>
   <%else%>
       <%= form.submit 'Continue to Payment', name: 'continue' %>
       <%= form.submit 'Add More Passengers', name: 'add_more' %>
   <%end%>
    </div>
<% end %>
