<table class="table">
<strong>Passenger_Details:</strong>
  <thead>
  
    <tr>
      <th scope="col">Passenger_name</th>
      <th scope="col">Passenger_age</th>
      <th scope="col">Passenger_gender</th>
      <th scope="col">Class_type</th>
      <th scope="col">Seat_type</th>
      <th scope="col">Seat_no</th>
      <% if passenger.ticket.payment.blank? %>
         <th scope="col">Show Passenger_Details</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <tr class="border row-margin-05" >
      <td> <%= passenger.p_name %></td>
      <td><%= passenger.p_age %></td>
      <td> <%= passenger.p_gender %></td>
      <td> <%= passenger.class_type %></td> 
      <td><%= passenger.seat_type %></td>
      <td> <%= passenger.seat_no %></td>

      <% if passenger.ticket.payment.blank? %>
          <td><div><%= link_to "Show this passenger", passenger %> </div></td>
       <%end%>

    </tr>
    <br>
  </tbody>

</table>
