<h1>Payment Form</h1>

<%= form_with(model:[@ticket,@payment]) do |form| %>
  <div>
    <%= form.label :payment_method, style: "display: block" %>
    <%= form.select :payment_method, ['DebitCard', 'UPI']%>

  </div>

  <div>
    <%= form.label :payment_amount, style: "display: block" %>
    <%= form.number_field :payment_amount, value:@fare, disabled: true %>
  </div>
<br>

  <div>
    <%= form.submit("Pay Now")%>
  </div>
<% end %>


